<div class="schedule">
  <table mat-table [dataSource]="schedules" *ngIf="schedules.length > 0">
    <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef>
        <ul>
          <li *ngFor="let s of getSchedulesByDay(column);">{{s.dayStart.substr(0, 5)}} - {{s.dayEnd.substr(0, 5)}}</li>
        </ul>
        <div *ngIf="getSchedulesByDay(column).length===0">Расписание не найдено</div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let schedule; let first = first; columns: columnsToDisplay" class="hidden-row"
        [class.row]="first"></tr>
  </table>
  <ng-container *ngIf="schedules.length === 0">
    <p>Расписание не найдено</p>
  </ng-container>
</div>


