<table mat-table [dataSource]="doctors" multiTemplateDataRows>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let doctor"> {{doctor.middleName + ' ' + doctor.name + ' ' + doctor.surname}} </td>
  </ng-container>
  <ng-container matColumnDef="scheduleButtons" >
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let doctor">
      <button mat-raised-button color="primary"
              (click)="expandedCalendar=null; expandedSchedule = expandedSchedule ===  doctor? null : doctor; getSchedules(doctor.id); ">
        Расписание
      </button>
      <button mat-raised-button color="accent"
              (click)="expandedSchedule=null; expandedCalendar = expandedCalendar ===  doctor? null : doctor; ">
        Записаться
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedSchedule">
    <td mat-cell *matCellDef="let doctor" [attr.colspan]="columnsToDisplay.length">
      <div class="schedule-div" [@detailExpand]="doctor == expandedSchedule ? 'expanded' : 'collapsed'">
        <div class="schedule">
          <app-schedule [schedules]="schedules"></app-schedule>
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedCalendar">
    <td mat-cell *matCellDef="let doctor" [attr.colspan]="columnsToDisplay.length">
      <div class="schedule-div" [@detailExpand]="doctor == expandedCalendar ? 'expanded' : 'collapsed'">
        <div class="calendar">
          <app-appointment></app-appointment>
        </div>
      </div>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let doctor; columns: columnsToDisplay" class="buttons"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedSchedule']" class="schedule-row"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedCalendar']" class="calendar-row"></tr>
</table>
