table {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button {
  margin: 10px;
}

tr.schedule-row{
  height: 0;
}

.schedule-row td{
  border-bottom-width: 0;
}

tr.calendar-row{
  height: 0;
}


.schedule-div {
  overflow: hidden;
}

.schedule {
  padding: 16px;
}

mat-row {
  margin-left: auto;
  margin-right: auto;
}

.spinner {
  position: absolute;

}

.buttons td {
  text-align: right;
  border-bottom-width: 0;
}


